@font-face {
  font-family: "ChatGPT";
  src: url("fonts/soehne-halbfett.woff2") format("woff2");
  /* Add additional sources for different font styles if needed */
}

body {
  background-color: #343541;
  color: white;
  font-family: "ChatGPT", sans-serif;
  margin: 0;
  padding: 0;
  width: 300px;
  padding: 10px;
  user-select: none;
}

.saved-chats-heading {
  display: flex;
  justify-content: space-between;
  align-items: right;
  font-size: large;
  color: #a1cbff;
}

.logo {
  width: 15%;
}

.container {
  max-width: 600px;
  margin: 10px auto;
  padding-right: 10px;
  text-align: center;
  overflow-y: auto;
  max-height: 400px;
}

.save-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  border-radius: 7px;
  background-color: #5c95db;
  color: #ffffff;
  font-size: 16px;
  font-family: "ChatGPT", sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.save-button:hover {
  background-color: #3181b6;
}

.saved-chats {
  text-align: left;
  list-style-type: none;
  padding: 0;
  color: white;
}

.chat-item {
  background-color: #343541;
  border-radius: 7px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.chat-item:hover {
  background-color: #202123;
}

.close-button {
  background: none;
  color: #fff;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.close-button:hover {
  color: #e50606;
  transition: color 0.2s ease;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #494a54;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #343541;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #71727a;
  transition: background-color 0.2s ease;
}

/* Add a sleek warning style */
.warning {
  background-color: rgba(255, 0, 0, 0.1); /* Coral color for the warning */
  color: #d82222;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: none; /* Initially hide the warning */
}

/* Animation for showing the warning */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.warning.show {
  display: block; /* Show the warning */
  animation: fadeIn 0.5s ease forwards;
}

a {
  color: white;
  text-decoration: none;
}

.footer {
  font-size: 12px;
  color: #c9e2ff;
  text-align: center;
  margin-top: 3px;
}
